.vertical-horizontal-center {
  border: 1px solid;
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex; /* default is row */
  justify-content: center; /* align horizontally */
  align-items: center; /* align vertically */
}
